/* GRID EXAMPLE 1 */

//use case for the grid mixin
.example1-grid {
    @include grid;
    @include gridAuto(260px);
    grid-auto-rows: minmax(100px, auto);
}

//demo style
.example1-grid > div {
    font-family: sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;

    &:nth-of-type(3n) {
        background-color: #d91b1a;
    }

    &:nth-of-type(3n+1) {
        background-color: #3a568c;
    }
      
    &:nth-of-type(3n+2) {
        background-color: #4f8365;
    }
}

/* GRID EXAMPLE 2 */

//use case for layout one dimension
.example2-grid{

    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        color:white;
        height:150px;
    }

    .col:nth-of-type(2n) {
        background-color: #3a568c;        
    }

    .col:nth-of-type(2n+1) {
        background-color: #4f8365;
    }

}

/* GRID EXAMPLE 3 */

//use case for grid layout

.example3-grid{

    @include grid;
    grid-auto-rows: 120px;

    @include mq('tablet', 'min') {
        @include gridLayout(
			(7, 2), 
			(5, 1), 
			(5, 1),
			(12, 1)
		);
    }

    font-family: sans-serif;
    //max-width: 1000px;
    margin: 0 auto;
  
    > div:nth-of-type(1) {
        background-color: #ead8c2;
    }
  
    > div:nth-of-type(2) {
        background-color: #4f8365;
    }
  
    > div:nth-of-type(3) {
        background-color: #eca414;
    }
  
    > div:nth-of-type(4) {
        background-color: #3a568c;
    }
  
    > div:not(:first-of-type) {
        color: white;
    }
  
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* GRID EXAMPLE 4 */

//use case for grid advance

.example4-grid {
    @include grid;
    grid-auto-rows:90px;

    @include mq('tablet', 'min') {
        @include gridAdvanced(
			(1, 8, 1, 3),
		  	(1, 8, 3, 5), 
		  	(5, -1, 2, 4)
		);
    }

    > div:nth-of-type(1) {
        background-color: #ead8c2;
      }
      
      > div:nth-of-type(2) {
        background-color: #3a568c;
      }
      
      > div:nth-of-type(3) {
        background-color: #eca414;
        opacity: .8;
      }
      
      > div:not(:first-of-type) {
        color: white;
      }
      
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

}