//see https://medium.com/codyhouse/create-your-design-system-part-2-grid-layout-aa961d59b8d6 for details

:root{
    --grid-gap: 10px;
}

//flex container definition
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}
  
//flex item definition
.col {
    box-sizing: border-box;
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    flex-basis: 100%;
}
  
//round flex items' width 
@function round-width ($i) {
    $width : floor(100 * $i * 100/ $grid-columns) / 100;
    @return $width#{"%"};
}
  
//utility classes
@for $i from 1 through $grid-columns {
    .col--#{$i} {
        flex-basis: round-width($i);
        max-width: round-width($i); 
    }
}

@include mq('tablet', 'max'){
    @for $i from 1 through $grid-columns {
        .col--md-#{$i} {
          flex-basis: round-width($i);
          max-width: round-width($i); 
        }
    }
}